<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="/movies/addmovie" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="watched">Watched</label>
        <input type="checkbox" name="watched" id="watched" value="off"> 
        <br>
        <label for="like">Liked</label>
        <input type="radio" name="like" id="like" value="like"> 
        <br>
        <label for="dislike">Disliked</label>
        <input type="radio" name="like" id="dislike" value="dislike"> 
        <br>
        <input type="submit">
    </form>
</body>
</html>